@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url('https://fonts.googleapis.com/css?family=Sunflower:500,700');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');

html{
    height: 100vh;
    max-width: 400px;
    margin: 0 auto;
}

.borderbox{
    border: 5px solid skyblue;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 2%,
        rgba(255, 255, 255, 0.5) 4%,
        rgba(255, 255, 255, 0.7) 6%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 1) 100%
    ), url("./images/sky.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 31%;
    padding-bottom: 10%;
    margin-bottom: 3px;
}

.title{
    border-radius: 100%;
    padding-top: 8px;
    background-color: rgba(255, 255, 255, 0.3) ;
    font-family: "Noto Sans KR", sans-serif;
    color: rgba(12, 12, 83);
    font-size: 33px;
    font-weight: bolder;
    line-height: 37px;
}

.contents{
    text-align: center;
}

.t_m{
    font-size: larger;
}

.t_m_f{
    color: rgb(189, 6, 6);
}

.t_b{
    color: rgb(204, 181, 51);
    font-size: larger;
}

.slogan{
    background-color: rgba(12, 12, 83);
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 8px;
    font-size: 17px;
}

.date_location{
    color: rgba(12, 12, 83);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#dl_red{
    color: rgb(189, 6, 6); 
    
}

.introimg{
    width: 100%;
    padding-bottom: 40px;
}

#label{
    color: white;
    border-radius: 20px;
    padding: 1px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
}

.invite{
    background-color:rgb(82, 82, 146);
}

.inviteletter{
    width: 85%;
    padding-top: 5px;
    text-align: justify;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
}

.main_host{
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
    word-break: keep-all;
    padding-bottom: 40px;
    font-weight: 450;
}

.festival{
    background-color:rgb(189, 6, 6);
}

.timeline{
    width: 30%;
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
    line-height: 30px;
    padding-bottom: 40px;
    font-weight: 500;
}

.maptitle{
    background-color: darkgreen;
}

.specific_location{
    padding-top: 2%;
    font-size: 17px;
    font-family: "Noto Sans KR", sans-serif;
    padding-bottom: 5%;
    color: rgba(12, 12, 83);
    font-weight: 500;
}

.composer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 9%;
    margin-bottom: 6%;
    font-size: medium;
    font-family: "Noto Sans KR", sans-serif;
    color: rgba(12, 12, 83);
}

.logo{
    width: 60px;
}